<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top">
      <img src="assets/nombre.png" alt="">
    </div>
    <img id="imagen" src="assets/icon/icon.png">
    <div class="Aligner-item Aligner-item--bottom">
      <img src="assets/division.png" alt="">
    </div>
  </div>
</div>

<ion-header>
  <ion-toolbar color="dark">
    <ion-title text-center>Iniciar sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="secondary">
  <ion-list>
    <ion-radio-group (ionChange)="onChange($event)">
      <ion-list-header>
        <ion-label>Usuario</ion-label>
      </ion-list-header>  
      <ion-item>
        <ion-label>Admin</ion-label>
        <ion-radio slot="start" value="0"></ion-radio>
      </ion-item>  
      <ion-item>
        <ion-label>Invitado</ion-label>
        <ion-radio slot="start" value="1"></ion-radio>
      </ion-item>  
      <ion-item>
        <ion-label>Usuario</ion-label>
        <ion-radio slot="start" value="2" ></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Anónimo</ion-label>
        <ion-radio slot="start" value="3" ></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Tester</ion-label>
        <ion-radio slot="start" value="4" ></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-button expand="block" (click) = "onSubmitLogin()" color="dark" style="height: 60px;">Entrar</ion-button>
  <ion-label [hidden]='datosCorrectos' class="datos-incorrectos">Datos incorrectos</ion-label> 
  <ion-item color="secondary">
    <ion-label position="floating">Correo electrónico</ion-label> 
    <ion-input type="text" [(ngModel)]="correo" name="correo"></ion-input>
  </ion-item> 
  <ion-item color="secondary">
    <ion-label position="floating">Contraseña</ion-label> 
    <ion-input type="password" [(ngModel)]="clave" name="clave"></ion-input>
  </ion-item>
  <br>
  <div style="text-align: center;">
    <img src="assets/chat.png" alt="" class="img-chat">
  </div>

</ion-content>
