<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-button slot="end" fill="clear" (click)="presentActionSheet()">
      <ion-icon style="color: #fff;" name="menu"></ion-icon>
    </ion-button>
    <ion-title>
      CONVERSANDO EN EL AULA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-button color="primary" class="boton" (click)="openChat('hHhXXXF74VZ7X5R765VG')">
      <img src="assets/4A.png" alt="" class="imagen-home">
    </ion-button>
  </div>

  <div>
    <ion-button color="dark" class="boton" (click)="openChat('nczAgsrYSs96GlwWb15h')">
      <img src="assets/4B.png" alt="" class="imagen-home">
    </ion-button>
  </div>
</ion-content>
